.vs
bin
obj
/XlsxToJson/UfxDataDict.cs
/XlsxToJson/UfxFunctionPacker.cs
/XlsxToJson/UfxFunctions.cs
/XlsxToJson/UfxFunctionUnPacker.cs
/XlsxToJson/UfxSubCallbackInterface.cs
/XlsxToJson/UfxCallbackInterface.cs
/nuget
